body {
  background: #EAEAEA;
}
#content {
  margin: 0 2rem 0;
  padding: 6rem 0.5rem 4rem;
}
/** Main **/
.main {
  &__column {
    transition: all 2s;
  }
}
/** Tasks **/
.tasks {
  background: #FFFFFF;
}
/** Task **/
.task {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: nowrap;
  cursor: pointer;

  &--high-priority.task {
    background: #FFCCBC;

    &:hover {
      background: rgba(255, 204, 188, 0.8);
    }
  }

  &--medium-priority.task {
    background: #FFE0B2;

    &:hover {
      background: rgba(255, 224, 178, 0.8);
    }
  }

  &--low-priority.task {
    background: #FFF9C4;

    &:hover {
      background: rgba(255, 249, 196, 0.6);
    }
  }

  &__checkbox {
    display: flex;
    flex: 0 0 60px;
  }

  &__name {
    display: flex;
    flex: 1;
    align-items: center;
  }

  &__due-date {
    display: flex;
    flex: 0 0 150px;
    align-items: center;
    justify-content: center;
  }
}
/** Add Form **/
.add-form {
  &__error-text {
    margin: 4px 0 0 0;
    font-size: 0.95rem;
    font-style: italic;
    color: #E33B39;

    &--hidden {
      display: none;
    }
  }
}
/** Task Card **/
.ui.task-card {
  width: 100%;
}
.task-card .ui.input input {
  border-color: #FFFFFF;
  font-weight: bold;

  &:hover, &:active {
    border-color: #85B7D9;
    color: rgba(0, 0, 0, .8);
    box-shadow: none;
  }
}
.task-card .field textarea {
  border-color: #FFFFFF;
  resize: none;

  &:hover, &:active {
    border-color: #85B7D9;
    color: rgba(0, 0, 0, .8);
    box-shadow: none;
  }
}
.task-card {
  &__priority-flag {
    &--high {
      color: #F4511E;
    }
    &--medium {
      color: #FB8C00;
    }
    &--low {
      color: #FDD835;
    }
  }
}