body {
  background: #EAEAEA;
}
#content {
  margin: 0 0.5rem 0;
  padding: 6rem 0.5rem 4rem;
}
/** Tasks **/
.tasks {
  /*background: #FFFFFF;*/

  .child {
    margin-left: 38px;
  }

  &__task-box {
    margin-bottom: 4px;
  }
}
/** Task **/
.ui.tasks .task {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: nowrap;
  cursor: pointer;
  margin-bottom: 4px;
  /*border: none;
  box-shadow: none;*/

  &:hover {
    background: #F8F8F8;
  }

  &__checkbox {
    display: flex;
    flex: 0 0 40px;
  }

  &__add-button {
    display: flex;
    flex: 0 0 40px;
  }

  &__name {
    display: flex;
    flex: 1;
    align-items: center;
  }

  &__parent-indicator {
    margin-left: 10px;
  }

  &__due-date {
    display: flex;
    flex: 0; /* 0 200px;*/
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;

    &--overdue {
      background: #FFCCBC;
    }
  }

  &--selected, &--selected:hover {
    background: #FFFDE7;
  }

  &--completed, &--completed:hover {
    background: #E0F2F1;

    .task__name strong {
      text-decoration: line-through;
      color: #868686;
    }
  }

  &__priority {
    display: flex;
    flex: 0;
    font-size: 1.4em;
    margin: 0 0 0 10px;
    align-items: center;

    &--high {
      color: #FF3D00;
    }
    &--medium {
      color: #FB8C00;
    }
    &--low {
      color: #FDD835;
    }
  }
}
/** Task Card **/
.ui.task-card {
  width: 100%;
}
.task-card .ui.input input {
  border-color: #FFFFFF;
  font-weight: bold;

  &:hover, &:active {
    border-color: #85B7D9;
    color: rgba(0, 0, 0, .8);
    box-shadow: none;
  }
}
.task-card .field textarea {
  border-color: #FFFFFF;
  resize: none;

  &:hover, &:active {
    border-color: #85B7D9;
    color: rgba(0, 0, 0, .8);
    box-shadow: none;
  }
}
.task-card {
  &__priority-flag {
    &--high {
      color: #FF3D00;
    }
    &--medium {
      color: #FB8C00;
    }
    &--low {
      color: #FDD835;
    }
  }

  &__top-line, &__bottom-line {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: nowrap;
  }

  &__button-line {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }

  &__top-input {
    display: flex;
    flex: 1;
    align-self: flex-start;

    margin: 0 10px 0 0;
  }

  &__submit-button {
    display: flex;
    flex: 1;
    align-self: flex-start;
  }

  &__priority-flag, &__close-button, &__datepicker, &__remove-button {
    display: flex;
    flex: 0;
    align-self: flex-end;
    margin: 0 6px;

    white-space: nowrap;
  }
}
/** Datepicker **/
.ui.calendar.task-card__datepicker > label {
  margin-right: .85714286em;
  white-space: nowrap;
  line-height: 37px;
}
.ui.form .ui.calendar.task-card__datepicker > input {
  width: 110px;
}
/** Top Line **/
.ui.top-line {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: nowrap;
  justify-content: space-between;

  &__add-button {
    display: flex;
    flex: 0;

    white-space: nowrap;
  }

  &__filter {
    display: flex;
    flex: 1;
    margin: 0 20px;

    white-space: nowrap;
  }

  &__sort-wrapper {
    display: flex;
    flex: 0;

    white-space: nowrap;
  }

  &__filter-buttons.buttons > button.button:not(:last-child) {
    border-radius: 0;
    border-bottom: 1px solid transparent;
  }
}
.ui.form.top-line input {
  width: auto;
}
.sort-wrapper {
  &__label {
    vertical-align: baseline;
    font-size: .92857143em;
    font-weight: 700;

    height: 36px;
    line-height: 36px;

    margin: 0 10px 0 0;
  }

  &__dropdown {
    height: 36px;
    line-height: 36px;
  }
}
