body {
  background: #EAEAEA;
}
#content {
  margin: 0 2rem 0;
  padding: 6rem 0.5rem 4rem;
}
/** Tasks **/
.tasks {
  background: #FFFFFF;
}
/** Task **/
.ui .task {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: nowrap;
  cursor: pointer;

  &:hover {
    background: rgba(239, 239, 239, 0.4);
  }

  &--selected {
    background: #E0F2F1;

    &:hover {
      background: #E0F2F1;
    }
  }

  &__checkbox {
    display: flex;
    flex: 0 0 60px;
  }

  &__name {
    display: flex;
    flex: 1;
    align-items: center;
  }

  &__due-date {
    display: flex;
    flex: 1; /* 0 200px;*/
    align-items: center;
    justify-content: flex-end;
  }

  &__priority {
    display: flex;
    flex: 0;
    font-size: 1.4em;
    margin: 0 0 0 10px;
    align-items: center;

    &--high {
      color: #F4511E;
    }
    &--medium {
      color: #FB8C00;
    }
    &--low {
      color: #FDD835;
    }
  }
}
/** Add Form **/
.add-form {
  &__error-text {
    margin: 4px 0 0 0;
    font-size: 0.95rem;
    font-style: italic;
    color: #E33B39;

    &--hidden {
      display: none;
    }
  }
}
/** Task Card **/
.ui.task-card {
  width: 100%;
}
.task-card .ui.input input {
  border-color: #FFFFFF;
  font-weight: bold;

  &:hover, &:active {
    border-color: #85B7D9;
    color: rgba(0, 0, 0, .8);
    box-shadow: none;
  }
}
.task-card .field textarea {
  border-color: #FFFFFF;
  resize: none;

  &:hover, &:active {
    border-color: #85B7D9;
    color: rgba(0, 0, 0, .8);
    box-shadow: none;
  }
}
.task-card {
  &__priority-flag {
    &--high {
      color: #F4511E;
    }
    &--medium {
      color: #FB8C00;
    }
    &--low {
      color: #FDD835;
    }
  }

  &__button-line {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-flow: nowrap;
  }

  &__top-line {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: nowrap;
  }

  &__top-input {
    display: flex;
    flex: 1;
    align-self: flex-start;

    margin: 0 10px 0 0;
  }

  &__priority-flag, &__close-button {
    display: flex;
    flex: 0;
    align-self: flex-end;
  }
}
/** Datepicker **/
.ui.calendar.datepicker > label {
  margin-right: .85714286em;
}